apiVersion: v1
kind: Service
metadata:
  name: api-svc
  namespace: task-system
  labels:
    app: api
spec:
  selector:
    app: api
  ports:
    - name: http
      port: 5000
      targetPort: 5000
  type: ClusterIP
